<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<title>{{ options.title }} • Bago Online</title>
<meta name="description" content="Bago Online" data-desc-src='hbs' />
<meta name="author" content="Karim Khoule">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.transitions.css" type="text/css">
<link href="/assets/css/slick.css" rel="stylesheet">
<link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" id="switcher-css" type="text/css" href="/assets/switcher/css/switcher.css" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/red.css" title="red" media="all" data-default-color="true" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/orange.css" title="orange" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/blue.css" title="blue" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/pink.css" title="pink" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/green.css" title="green" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/purple.css" title="purple" media="all" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon-icon/apple-touch-icon-114-precomposed.html">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/images/LOGO-BAGO.png">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<link rel="stylesheet" href="/assets/css/responsive.css" />
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <div class="handy-notify">
          <span></span>
        </div>
        <div class="overlay-2-black"></div>
        <div class="overlay-2"></div>
<header>
  <div class="default-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo"><img src="/images/LOGO-BAGO.png" alt="bago" width="50px"/></div>
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="header_info">
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
              <p class="uppercase_text">Pour nous contacter: </p>
              <a href="mailto:keba@bagoonline.com">keba@bagoonline.com</a> </div>
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
              <p class="uppercase_text">Service Helpline Call Us: </p>
              <a href="tel:61-1234-5678-09">+3372-68-08-54-52(Paris)</a> </div>
            <div class="social-follow">
              <ul>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
 <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Connexion</a> </div>
 <div class="login_btn"> <a href="#signupform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Inscription</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav id="navigation_bar" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/welcome">Accueil</a>    </li>
          <li><a href="/apropos">A notre propos</a></li>
          <li><a href="/comment">Comment ça marche</a></li>
          <li><a href="/apibago">API</a></li>
          <li><a href="/searchPost">Recherche</a>
        </ul>
      </div>
    </div>
  </nav>
</header>
<section id="about" class="banner-section2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6"> <img src="/images/api-fr.png" class="img-responsive" alt="" /> </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>SERVICE WEB CORPORATIF DE BAGO</h2>
            <p><b>BCWS </b> (BAGO Corporate Web service) est une API de service Web intégrée qui permet aux Marsands partenaires de BAGO d’avoir une option électronique extrême importante (option de livraison internationale).
            <br/>L’intégration des données avec <b>Bag‘Ô </b>contribue à une plus grande automatisation des ventes et aide les partenaires Marsands à développer leur activité. Avec l’ouverture des Marsés internationaux, les commerçants peuvent augmenter l’efficacité des ventes, réduire les besoins en termes de main-d’œuvre et surtout réduire considérablement le temps de réponse aux clients.
            <br/> <b>BCWS</b> est entièrement gratuit, mais vous devez posséder un compte Marsand éligible et vous inscrire auprès de <b>BCWS</b> pour utiliser l’API de livraison de packages <b>BCWS</b>.
            </p>
            <h3>AVANTAGES FOURNIS PAR BCWS</h3>
            <p>
            BCWS vous permet de développer des applications pour votre propre compte Merchant-BAGO. Vous pouvez également concevoir des applications pour d’autres commerçants pour les aider à gérer leur activité en ligne. Avec BCWS, vous pouvez créer des applications qui peuvent ouvrir de nouveaux Marsés, télécharger des commandes pour traiter, confirmer les envois et planifier (expédition et réception) des colis. Ces opérations d’API sont accessibles à partir d’une interface de service Web.
            </p>
                   <div class="list-style">
                     <div class="col-lg-6 col-sm-6 col-xs-12">
                       <ul>
                      <b>BCWS offre les fonctionnalités suivantes:</b>
                         <li>Gestion des destinations: ajoutez des destinations, vérifiez l’état du vol par route et la franchise de bagages disponible, évaluez les informations de tarification par destination.</li>
                         <li>Gestion des ordres de livraison: Téléchargez les informations de commande d’expédition, obtenez les données de paiement, acceptez les commandes et programmez les rapports.</li>
                         <li>Gestion des rapports: vous pouvez demander divers rapports, afficher l’état de ces rapports de livraison et les télécharger.</li>
                         <li>Gestion des rapports: vous pouvez demander divers rapports, afficher l’état de ces rapports de livraison et les télécharger.</li>
                       </ul>
                     </div>
                     <div class="col-lg-6 col-sm-6 col-xs-12">
                       <ul>
                       <b>Pour les Marsands Bag’Ô, BCWS vous permet également de:</b>
                         <li>Produisez des envois internationaux entrants et sortants: vous pouvez automatiser le processus de création d’étiquettes pour les unités que vous expédiez dans le monde entier.</li>
                         <li>Vérifiez l’état des envois entrants et sortants: Vérifiez si votre envoi est arrivé avec un avis.</li>
                         <li>Soumettre les demandes de traitement: en intégrant votre système à BCWS, vous donnez à vos clients la possibilité de soumettre des commandes client multi-sites à tout moment. Aucune latence lorsque vous traitez ou planifiez des commandes.</li>
                         <li>Suivi et gestion des demandes d’envois sortants: une fois que les commandes quittent leur lieu d’origine, vos clients et vous avez la possibilité d’être informés des délais de livraison.</li>
                         <li>SERVICE de livraison à domicile international</li>
                       </ul>
                     </div>
                   </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!--Footer -->
<footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6 text-right">
          <div class="footer_widget">
            <p>Connect with Us:</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <p class="copy-right">Copyright &copy; 2020 Bago Online. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer-->
<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->
<!--Login-Form -->
<div class="modal fade" id="loginform">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Login</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="login_wrap">
            <div class="col-md-12 col-sm-6">
              <form class="form_login">
                  <div class="form-group">
                    <input  class="l_username"  type="text" name="username" value=""  autofocus required spellcheck="false" autocomplete='false' placeholder='Username' style="width:100%">
                  </div>
                  <div class="form-group">
                    <input  type="password" name="password" value="" class="l_password" id='l_password' required placeholder='Password' style="width:100%">
                  </div>
                  <div class="form-group checkbox">
                    <input type="checkbox" id="remember">

                  </div>
                  <div class="form-group" id="submitClass">
                    <input type="submit" value="Login" class="btn btn-block">
                  </div>
                </form>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <p>Avez-vous un compte? <a href="#signupform" data-toggle="modal" data-dismiss="modal">S'inscrire ici</a></p>
        <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">Mot de passe oublié ?</a></p>
      </div>
    </div>
  </div>
</div>
<!--/Login-Form -->
<!--Register-Form -->
<div class="modal fade" id="signupform">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Inscription</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="signup_wrap">
            <div class="col-md-12 col-sm-6">
              <form  class="form_register">

                <div class="form-group">
                  <input type="text" name="username" value="" class="s_username filter_illegal" autofocus spellcheck="false" autocomplete='false' placeholder='Username' required style="width:100%">
                  <div class="username_checker">
                    <span class="checker_text">Login non disponible</span>
                    <span class="checker_icon">
                      <i class="far fa-frown"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="first_name" value="" autocomplete="off" placeholder="First name" class="s_firstname small_input filter_illegal" spellcheck="false" maxlength="20" required style="width:100%">
                </div>
                <div class="form-group">
                  <input type="text" name="surname" value="" autocomplete="off" placeholder="Surname" class="s_surname small_input filter_illegal" spellcheck="false" maxlength="20" required style="width:100%">
                </div>
                <div class="form-group">
                  <input  type="email" name="email" value="" class="s_email" spellcheck="false" autocomplete='false' placeholder='Email' required style="width:100%">
                </div>
                <div class="form-group">
                  <input  type="password" name="password" value="" id='s_password' class="s_password" placeholder='Password' required style="width:100%">
                </div>
                <div class="form-group checkbox">
                  <input type="checkbox" id="terms_agree" required="required" checked="">
                  <label for="terms_agree">I Agree with <a href="#">Terms and Conditions</a></label>
                </div>
                <div class="form-group">
                  <input type="submit" value="Sign Up" name="signup" id="submit" class="btn btn-block">
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <p>Already got an account? <a href="#loginform" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
      </div>
    </div>
  </div>
</div>
<!--/Register-Form -->
<!--Forgot-password-Form -->
  <script type="text/javascript">
function valid()
{
if(document.chngpwd.newpassword.value!= document.chngpwd.confirmpassword.value)
{
alert("New Password and Confirm Password Field do not match  !!");
document.chngpwd.confirmpassword.focus();
return false;
}
return true;
}
</script>
<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Password Recovery</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="forgotpassword_wrap">
            <div class="col-md-12">
              <form name="chngpwd" method="post" onSubmit="return valid();">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Your Email address*" required="">
                </div>
  <div class="form-group">
                  <input type="text" name="mobile" class="form-control" placeholder="Your Reg. Mobile*" required="">
                </div>
  <div class="form-group">
                  <input type="password" name="newpassword" class="form-control" placeholder="New Password*" required="">
                </div>
  <div class="form-group">
                  <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password*" required="">
                </div>
                <div class="form-group">
                  <input type="submit" value="Reset My Password" name="update" class="btn btn-block">
                </div>
              </form>
              <div class="text-center">
                <p class="gray_text">For security reasons we don't store your password. Your password will be reset and a new one will be send.</p>
                <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
 <script src="/js/bundle.js"></script>
 <script src="/assets/switcher/js/switcher.js"></script>
</body>
</html>
