<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<title>{{ options.title }} • Bago Online</title>
<meta name="description" content="Bago Online" data-desc-src='hbs' />
<meta name="author" content="Karim Khoule">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.transitions.css" type="text/css">
<link href="/assets/css/slick.css" rel="stylesheet">
<link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" id="switcher-css" type="text/css" href="/assets/switcher/css/switcher.css" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/red.css" title="red" media="all" data-default-color="true" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/orange.css" title="orange" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/blue.css" title="blue" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/pink.css" title="pink" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/green.css" title="green" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/assets/switcher/css/purple.css" title="purple" media="all" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon-icon/apple-touch-icon-114-precomposed.html">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/images/LOGO-BAGO.png">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<link rel="stylesheet" href="/assets/css/responsive.css" />
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<link href="/search/css/main.css" rel="stylesheet" />
</head>
<body>
        <div class="handy-notify">
          <span></span>
        </div>
        <div class="overlay-2-black"></div>
        <div class="overlay-2"></div>
<header>
  <div class="default-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo"><img src="/images/LOGO-BAGO.png" alt="bago" width="50px"/></div>
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="header_info">
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
              <p class="uppercase_text">Pour nous contacter: </p>
              <a href="mailto:keba@bagoonline.com">keba@bagoonline.com</a> </div>
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
              <p class="uppercase_text">Service Helpline Call Us: </p>
              <a href="tel:61-1234-5678-09">+3372-68-08-54-52(Paris)</a> </div>
            <div class="social-follow">
              <ul>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
 <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Connexion</a> </div>
 <div class="login_btn"> <a href="#signupform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Inscription</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav id="navigation_bar" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/welcome">Accueil</a>    </li>
          <li><a href="/apropos">A notre propos</a></li>
          <li><a href="/comment">Comment ça marche</a></li>
          <li><a href="/apibago">API</a></li>
          <li><a href="/searchPost">Recherche</a>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="s003">
<div>
<form class="form_search">
  <div class="inner-form">
    <div class="input-field first-wrap">
      <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
        </svg>
      </div>
      <input id="departure" name="departure" type="text" placeholder="Départ" class="l_departure" />
    </div>

    <div class="input-field first-wrap">
      <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
        </svg>
      </div>
      <input id="arrival" name="arrival" type="text" placeholder="Arrivée" class="l_arrival"/>
    </div>
    <div class="input-field second-wrap">
      <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
        </svg>
      </div>
      <input class="datepicker" id="dateDeparture" name="dateDeparture" type="text" />
    </div>
    <div class="input-field fifth-wrap">
      <button class="btn-search" type="submit">RECHERCHER</button>
    </div>
  </div>
</form>
<div class="col-md-9">
</div>
</div>
</div>
<footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6 text-right">
          <div class="footer_widget">
            <p>Connect with Us:</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <p class="copy-right">Copyright &copy; 2020 Bago Online. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<div class="modal fade" id="loginform">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Login</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="login_wrap">
            <div class="col-md-12 col-sm-6">
              <form class="form_login">
                  <div class="form-group">
                    <input  class="l_username"  type="text" name="username" value=""  autofocus required spellcheck="false" autocomplete='false' placeholder='Username' style="width:100%">
                  </div>
                  <div class="form-group">
                    <input  type="password" name="password" value="" class="l_password" id='l_password' required placeholder='Password' style="width:100%">
                  </div>
                  <div class="form-group checkbox">
                    <input type="checkbox" id="remember">

                  </div>
                  <div class="form-group" id="submitClass">
                    <input type="submit" value="Login" class="btn btn-block">
                  </div>
                </form>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <p>Avez-vous un compte? <a href="#signupform" data-toggle="modal" data-dismiss="modal">S'inscrire ici</a></p>
        <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">Mot de passe oublié ?</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signupform">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Inscription</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="signup_wrap">
            <div class="col-md-12 col-sm-6">
              <form  class="form_register">

                <div class="form-group">
                  <input type="text" name="username" value="" class="s_username filter_illegal" autofocus spellcheck="false" autocomplete='false' placeholder='Username' required style="width:100%">
                  <div class="username_checker">
                    <span class="checker_text">Login non disponible</span>
                    <span class="checker_icon">
                      <i class="far fa-frown"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="first_name" value="" autocomplete="off" placeholder="First name" class="s_firstname small_input filter_illegal" spellcheck="false" maxlength="20" required style="width:100%">
                </div>
                <div class="form-group">
                  <input type="text" name="surname" value="" autocomplete="off" placeholder="Surname" class="s_surname small_input filter_illegal" spellcheck="false" maxlength="20" required style="width:100%">
                </div>
                <div class="form-group">
                  <input  type="email" name="email" value="" class="s_email" spellcheck="false" autocomplete='false' placeholder='Email' required style="width:100%">
                </div>
                <div class="form-group">
                  <input  type="password" name="password" value="" id='s_password' class="s_password" placeholder='Password' required style="width:100%">
                </div>
                <div class="form-group checkbox">
                  <input type="checkbox" id="terms_agree" required="required" checked="">
                  <label for="terms_agree">I Agree with <a href="#">Terms and Conditions</a></label>
                </div>
                <div class="form-group">
                  <input type="submit" value="Sign Up" name="signup" id="submit" class="btn btn-block">
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <p>Already got an account? <a href="#loginform" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
function valid()
{
if(document.chngpwd.newpassword.value!= document.chngpwd.confirmpassword.value)
{
alert("New Password and Confirm Password Field do not match  !!");
document.chngpwd.confirmpassword.focus();
return false;
}
return true;
}
</script>
<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Password Recovery</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="forgotpassword_wrap">
            <div class="col-md-12">
              <form name="chngpwd" method="post" onSubmit="return valid();">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Your Email address*" required="">
                </div>
  <div class="form-group">
                  <input type="text" name="mobile" class="form-control" placeholder="Your Reg. Mobile*" required="">
                </div>
  <div class="form-group">
                  <input type="password" name="newpassword" class="form-control" placeholder="New Password*" required="">
                </div>
  <div class="form-group">
                  <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password*" required="">
                </div>
                <div class="form-group">
                  <input type="submit" value="Reset My Password" name="update" class="btn btn-block">
                </div>
              </form>
              <div class="text-center">
                <p class="gray_text">For security reasons we don't store your password. Your password will be reset and a new one will be send.</p>
                <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
 <script src="/js/bundle.js"></script>
 <script src="/assets/switcher/js/switcher.js"></script>
 <script src="/search/js/extention/choices.js"></script>
 <script src="/search/js/extention/flatpickr.js"></script>
 <script>
       flatpickr(".datepicker",
       {});

 </script>
 <script>
       const choices = new Choices('[data-trigger]',
       {
         searchEnabled: false,
         itemSelectText: '',
       });

   </script>
</body>
</html>
